<template>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>House Name</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="hou in houses">
                <td scope="row">{{ hou.house}}</td>
                <td></td>
                <td></td>
            </tr>

            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "houses",
        props: {
            house: {
                type: Array,
                default: []
            },
        },
        created() {
            Bus.$on('addHouse', data => {
                this.houses.push(data);
            })
        },
        data() {
            return {
                houses: this.house
            }
        },
    }
</script>

<style scoped>

</style>