<template>
    <form>
        <!--Label: Student Name, Attributes: studentname-->
        <div class="form-group row">
            <label for="studentname" class="col-sm-2 col-form-label">Student Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="studentname"
                       v-model="studentname"
                       name="studentname"
                       :class="{ 'is-invalid' : errors.studentname }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.studentname">
                    <strong>{{ errors.studentname.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Admission Number, Attributes: admno-->
        <div class="form-group row">
            <label for="admno" class="col-sm-2 col-form-label">Admission Number</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="admno"
                       v-model="admno"
                       name="admno"
                       :class="{ 'is-invalid' : errors.admno }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.admno">
                    <strong>{{ errors.admno.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: House, Attributes: house-->
        <div class="form-group row">
            <label for="house" class="col-sm-2 col-form-label">House</label>
            <div class="col-sm-10">
                <select name="house" id="house" class="form-control" v-model="house"
                        :class="{ 'is-invalid' : errors.house }">
                    <option value="1" disabled>Select House</option>
                    <option v-for="hau in houses">{{ hau.house}}</option>
                </select>

                <div class="invalid-feedback" v-if="errors.house">
                    <strong>{{ errors.house.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Class, Attributes: classroom-->
        <div class="form-group row">
            <label for="classroom" class="col-sm-2 col-form-label">Class</label>
            <div class="col-sm-10">
                <select name="classroom" id="classroom" class="form-control" v-model="classroom"
                        :class="{ 'is-invalid' : errors.classroom }">
                    <option value="1" disabled>Select Class</option>
                    <option v-for="daro in form">{{ daro.form }}{{ daro.stream }}</option>
                </select>

                <div class="invalid-feedback" v-if="errors.classroom">
                    <strong>{{ errors.classroom.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: KCSE, Attributes: kcpe-->
        <div class="form-group row">
            <label for="kcpe" class="col-sm-2 col-form-label">KCPE</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="kcpe"
                       v-model="kcpe"
                       name="kcpe"
                       :class="{ 'is-invalid' : errors.kcpe }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.kcpe">
                    <strong>{{ errors.kcpe.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Mobile Number, Attributes: mobilenumber-->
        <div class="form-group row">
            <label for="mobilenumber" class="col-sm-2 col-form-label">Mobile Number</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="mobilenumber"
                       v-model="mobilenumber"
                       name="mobilenumber"
                       :class="{ 'is-invalid' : errors.mobilenumber }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.mobilenumber">
                    <strong>{{ errors.mobilenumber.toString() }}</strong>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button class="btn btn-gradient-01" @click.prevent="addStudent" dusk="savestudent">
                Add Student
                <i :class="{'fa fa-spinner fa-spin':savingStudent}" aria-hidden="true"></i>
            </button>
            <button class="btn btn-shadow" type="reset">Reset</button>
        </div>
    </form>
</template>

<script>
    export default {
        name: "student",
        props: {
            houses: {
                type: Array,
                default: []
            },
            term: {
                type: Array,
                default: []
            },
            form: {
                type: Array,
                default: []
            }
        },
        data() {
            return {
                studentname: '',
                errors: '',
                admno: '',
                house: '',
                classroom: '',
                kcpe: '',
                mobilenumber: '',
                savingStudent: false
            }
        },
        methods: {
            addStudent() {
                this.savingStudent = true;
                axios.post('/admin/student', this.$data).then(response => {
                    this.savingStudent = false;
                    this.studentname = '';
                    this.admno = '';
                    this.house = '';
                    this.classroom = '';
                    this.kcpe = '';
                    this.mobilenumber = '';
                    this.errors = '';
                    Bus.$emit('studentAdded', response.data);
                }).catch(error => {
                    this.savingStudent = false;
                    this.errors = error.response.data.errors;
                });
            }
        },
    }
</script>

<style scoped>

</style>