<template>
    <div class="table-responsive">
        <table class="table mb-0" id="students">
            <thead>
            <tr>
                <th>ADMNO</th>
                <th>NAme</th>
                <th>House</th>
                <th>Class</th>
                <th><span style="width:100px;">KCPE</span></th>
                <th>Mobile Number</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="student in students">
                <td>{{ student.admno}}</td>
                <td>{{ student.name}}</td>
                <td>{{ student.house_id}}</td>
                <td>{{ student.form_id}}</td>
                <td>{{ student.kcpe}}</td>
                <td>{{ student.mobilenumber}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import DataTable from 'datatables';

    export default {
        name: "studentsview",
        DataTable,
        props: {
            allstudents: {
                type: Array,
                default: []
            },
        },
        data() {
            return {
                students: this.allstudents
            }
        },
        created() {

        },
        mounted() {
            var table = $('#students').DataTable();
            Bus.$on('studentAdded', data => {
                table.row.add([
                    data.admno,
                    data.name,
                    data.house_id,
                    data.form_id,
                    data.kcpe,
                    data.mobilenumber,
                ]).draw(false);
                // this.students.push(data);
            });
        }
    }
</script>

<style scoped>

</style>