<template>
    <div class="table-responsive">
        <table class="table table-inverse">
            <thead class="thead-dark">
            <tr>
                <th>Year</th>
                <th>Term</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="term in terms">
                <td scope="row">{{ term.year }}</td>
                <td>{{ term.term }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "terms", props: {
            years: {
                type: Array,
                default: 0
            },
        },
        data() {
            return {
                terms: this.years
            }
        },
        created() {
            Bus.$on('TermAdded', data => {
                this.terms.push(data);
            })
        }
    }
</script>

<style scoped>

</style>