<template>
    <div class="table-responsive">
        <table class="table table-borderless">
            <thead>
            <tr>
                <th>Votehead ID</th>
                <th>Votehead</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="vote in voteheadsa">
                <td scope="row">{{ vote.voteheadid }}</td>
                <td>{{ vote.votehead }}</td>
                <td>
                    <div class="btn-group" data-toggle="buttons">
                        <button class="btn btn-secondary"><i class="fa fa-pencil"></i></button>
                        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "voteheads",
        props: {
            votehead: {
                type: Array,
                default: []
            },
        },
        data() {
            return {
                voteheadsa: this.votehead
            }
        },
        created() {
            Bus.$on('addedVotehead', data => {
                this.voteheadsa.push(data);
            });
        }
    }
</script>

<style scoped>

</style>