<template>
    <form>
        <!--Label: Votehead ID, Attributes: voteheadid-->
        <div class="form-group row">
            <label for="voteheadid" class="col-sm-2 col-form-label">Votehead ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="voteheadid"
                       v-model="voteheadid"
                       name="voteheadid"
                       :class="{ 'is-invalid' : errors.voteheadid }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.voteheadid">
                    <strong>{{ errors.voteheadid.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Votehead, Attributes: votehead-->
        <div class="form-group row">
            <label for="votehead" class="col-sm-2 col-form-label">Votehead</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="votehead"
                       v-model="votehead"
                       name="votehead"
                       :class="{ 'is-invalid' : errors.votehead }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.votehead">
                    <strong>{{ errors.votehead.toString() }}</strong>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button class="btn btn-gradient-01" @click.prevent="addVotehead">
                Add Votehead
                <i :class="{'fa fa-spinner fa-spin': savingVotehead}"></i>
            </button>
            <button class="btn btn-shadow" type="reset">Reset</button>
        </div>
    </form>
</template>

<script>
    export default {
        name: "votehed",
        data() {
            return {
                errors: '',
                voteheadid: '',
                votehead: '',
                savingVotehead: false
            }
        },
        methods: {
            addVotehead() {
                this.savingVotehead = true;
                axios.post('/admin/votehead', this.$data).then(response => {
                    this.voteheadid = '';
                    this.votehead = '';
                    this.errors = '';
                    this.savingVotehead = false;
                    Bus.$emit('addedVotehead', response.data);
                }).catch(error => {

                    this.savingVotehead = false;
                    this.errors = error.response.data.errors;

                });
            }
        },
    }
</script>

<style scoped>

</style>