<template>
    <form action="">
        <!--Label: Year, Attributes: year-->
        <div class="form-group row">
            <label for="year" class="col-sm-2 col-form-label">Year</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="year"
                       v-model="year"
                       name="year"
                       :class="{ 'is-invalid' : errors.year }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.year">
                    <strong>{{ errors.year.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Is Current, Attributes: iscurrent-->
        <!--Label: Is Current, Attributes: iscurrent-->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="iscurrent" value="1" v-model="iscurrent"
                               :class="{ 'is-invalid' : errors.iscurrent }">
                        Is current
                    </label>
                </div>

                <div class="invalid-feedback" v-if="errors.iscurrent">
                    <strong>{{ errors.iscurrent.toString() }}</strong>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button class="btn btn-gradient-01" @click.prevent="addStudent">
                Add Year
                <i :class="{'fa fa-spinner fa-spin':savingStudent}" aria-hidden="true"></i>
            </button>
            <button class="btn btn-shadow" type="reset">Reset</button>
        </div>

    </form>
</template>

<script>
    export default {
        name: "year",
        data() {
            return {
                errors: '',
                year: '',
                iscurrent: '',
                savingStudent: false,
            }
        },
        methods: {
            addStudent() {
                this.savingStudent = true;
                axios.post('/admin/year', this.$data).then(response => {
                    this.year = '';
                    this.errors = '';
                    this.iscurrent = '';
                    this.savingStudent = false;
                    Bus.$emit('YearAdded', response.data);
                }).catch(error => {
                    this.savingStudent = false;
                    this.errors = error.response.data.errors;
                });
            }
        },
    }
</script>

<style scoped>

</style>