<template>
    <div class="table-responsive">
        <table class="table mb-0" id="years">
            <thead>
            <tr>
                <th>Year</th>
                <th>Voteheads</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(year,key) in years">
                <td>{{ miaka(key).year }}</td>
                <td>{{ year | voteheads }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "yearvoteheadsview",
        props: {
            years: {
                type: Object,
                default: []
            },
            mia: {
                // type: Object,
                default: []
            }
        },
        data() {
            return {
                mwaka: this.years
            }
        },
        created() {
            // console.log(_.map(this.years, votehead_id).join(','));
        },
        filters: {
            voteheads(value) {
                let s = '';
                _.forEach(value, function (value, key) {
                    s += value.votehead.votehead + ',';
                });
                return s;
            },

        },
        methods: {
            miaka(value) {
                return _.find(this.mia, function (o) {
                    return o.id == value;
                });
            }
        },
    }
</script>

<style scoped>

</style>