<template>
    <form action="">
        <!--Label: Year, Attributes: year-->
        <div class="form-group row">
            <label for="year" class="col-sm-2 col-form-label">Year</label>
            <div class="col-sm-10">
                <select name="year" id="year" class="form-control" v-model="year" :class="{ 'is-invalid' : errors.year }">
                    <option v-for="yeary in miaka" :value="yeary.id">{{ yeary.year}}</option>
                </select>
                <div class="invalid-feedback" v-if="errors.year">
                    <strong>{{ errors.year.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: votehead, Attributes: votehead-->
        <div class="form-group row">
            <label for="votehead" class="col-sm-2 col-form-label">votehead</label>
            <div class="col-sm-10">
                <select name="votehead" id="votehead" class="form-control" v-model="votehead" :class="{ 'is-invalid' : errors.votehead }">
                    <option v-for="vote in votes" :value="vote.id">{{ vote.votehead}}</option>
                </select>
                <div class="invalid-feedback" v-if="errors.votehead">
                    <strong>{{ errors.votehead.toString() }}</strong>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button class="btn btn-gradient-01" @click.prevent="addVotehead">
                Save
                <i :class="{'fa fa-spinner fa-spin':savingVotehead}" aria-hidden="true"></i>
            </button>
            <button class="btn btn-shadow" type="reset">Reset</button>
        </div>
    </form>
</template>

<script>
    export default {
        name: "yearvoteheads",
        props: {
            years: {
                type: Array,
                default: []
            },
            voteheads: {
                type: Array,
                default: []
            }
        },
        data() {
            return {
                miaka: this.years,
                votes: this.voteheads,
                errors: '',
                year: '',
                votehead: '',
                savingVotehead: false,
            }
        },
        methods: {
            addVotehead() {
                this.savingVotehead = true;
                axios.post('/admin/settings/yearvoteheads', this.$data)
                    .then(response => {
                        this.year = '';
                        this.votehead = '';
                        this.savingVotehead = false;
                        Bus.$emit('addedVotehead', response.data);
                    }).catch(error => {
                    this.savingVotehead = false;
                    this.errors = error.response.data.errors;
                });

            }
        },
    }
</script>

<style scoped>

</style>